{% extends 'base.html' %}

{% block header %}
<h1 style="color: darkblue; margin-left: 15px;">{% block title %}Login{% endblock %}</h1> <!--comment-->

{% if error %}
    <script>
        alert("{{ error }}");
    </script>
{% endif %}

{% endblock %}

{% block content %}

<form method="POST" action="/login" class="styled-table">
  <label>Username: </label>
  <input type="text" name="username" required/><br/><br/>

  <label>Password: </label>
  <input type="password" name="password" required/><br/><br/>

  <input type="submit" value="Login" style="margin-left: 214px"/>

</form>

{% endblock %}