{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Register{% endblock %}</h1> <!--comment-->
{% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function checkUsername(str){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function(){
                if(this.readyState == 4 && this.status == 200){
                    document.getElementById("error").innerHTML = this.responseText;
                }
            };
            xhttp.open("GET", "/checkusername/" + str, true);
            xhttp.send();
        }
    </script>
</head>



<form method="POST" action="/register">
  <label>Username: </label>
      <input type="text" name="username" required onfocusout="checkUsername(this.value)" /><span id="error"></span><br/>


  <label>Password: </label>
  <input type="password" name="password" required/><br/>

  <label>Fullname: </label>
  <input type="text" name="name" required/><br/>

  <label>email: </label>
  <input type="text" name="email" required/><br/>

  <input type="submit" value="Register" />

</form>

{% endblock %}